In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [25]:
data = pd.read_csv('student_lifestyle_100k.csv')
data.head()

,Student_ID,Age,Gender,Department,CGPA,Sleep_Duration,Study_Hours,Social_Media_Hours,Physical_Activity,Stress_Level,Depression
0,1001,22,Female,Science,3.50,7.3,3.3,3.4,114,5,False
1,1002,20,Male,Engineering,2.72,5.5,7.2,6.0,142,2,False
2,1003,20,Male,Medical,3.01,5.4,2.3,1.8,137,3,False
3,1004,21,Male,Engineering,3.63,8.1,2.0,4.6,130,3,False
4,1005,19,Male,Arts,3.14,6.8,2.6,4.3,4,6,False

In [40]:
print(data.columns)

Index(['Age', 'Gender', 'Department', 'CGPA', 'Sleep_Duration', 'Study_Hours',
       'Social_Media_Hours', 'Physical_Activity', 'Stress_Level'],
      dtype='object')

In [41]:
label_encoder_Study_Hours = LabelEncoder()
data['Study_Hours'] = label_encoder_Study_Hours.fit_transform(data['Study_Hours'])
data.head()

,Age,Gender,Department,CGPA,Sleep_Duration,Study_Hours,Social_Media_Hours,Physical_Activity,Stress_Level
0,22,Female,Science,3.50,7.3,33,3.4,114,5
1,20,Male,Engineering,2.72,5.5,72,6.0,142,2
2,20,Male,Medical,3.01,5.4,23,1.8,137,3
3,21,Male,Engineering,3.63,8.1,20,4.6,130,3
4,19,Male,Arts,3.14,6.8,26,4.3,4,6

In [48]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Stress_Level']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 100000 stored elements and shape (100000, 9)>

In [49]:
onehot_encoder_geo.get_feature_names_out(['Stress_Level'])

array(['Stress_Level_2', 'Stress_Level_3', 'Stress_Level_4',
       'Stress_Level_5', 'Stress_Level_6', 'Stress_Level_7',
       'Stress_Level_8', 'Stress_Level_9', 'Stress_Level_10'],
      dtype=object)

In [52]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Stress_Level']))
geo_encoded_df.head()

,Stress_Level_2,Stress_Level_3,Stress_Level_4,Stress_Level_5,Stress_Level_6,Stress_Level_7,Stress_Level_8,Stress_Level_9,Stress_Level_10
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [53]:
data = pd.concat([data.drop('Stress_Level', axis=1), geo_encoded_df], axis=1)
data.head()

,Age,Gender,Department,CGPA,Sleep_Duration,Study_Hours,Social_Media_Hours,Physical_Activity,Stress_Level_2,Stress_Level_3,Stress_Level_4,Stress_Level_5,Stress_Level_6,Stress_Level_7,Stress_Level_8,Stress_Level_9,Stress_Level_10
0,22,Female,Science,3.50,7.3,33,3.4,114,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,20,Male,Engineering,2.72,5.5,72,6.0,142,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20,Male,Medical,3.01,5.4,23,1.8,137,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21,Male,Engineering,3.63,8.1,20,4.6,130,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19,Male,Arts,3.14,6.8,26,4.3,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [54]:
with open('label_encoder_Study_Hours.pkl', 'wb') as file:
    pickle.dump(label_encoder_Study_Hours, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [55]:
data.head()

,Age,Gender,Department,CGPA,Sleep_Duration,Study_Hours,Social_Media_Hours,Physical_Activity,Stress_Level_2,Stress_Level_3,Stress_Level_4,Stress_Level_5,Stress_Level_6,Stress_Level_7,Stress_Level_8,Stress_Level_9,Stress_Level_10
0,22,Female,Science,3.50,7.3,33,3.4,114,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,20,Male,Engineering,2.72,5.5,72,6.0,142,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20,Male,Medical,3.01,5.4,23,1.8,137,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21,Male,Engineering,3.63,8.1,20,4.6,130,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19,Male,Arts,3.14,6.8,26,4.3,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Age                 100000 non-null  int64
 1   Gender              100000 non-null  object
 2   Department          100000 non-null  object
 3   CGPA                100000 non-null  float64
 4   Sleep_Duration      100000 non-null  float64
 5   Study_Hours         100000 non-null  int64
 6   Social_Media_Hours  100000 non-null  float64
 7   Physical_Activity   100000 non-null  int64
 8   Stress_Level_2      100000 non-null  float64
 9   Stress_Level_3      100000 non-null  float64
 10  Stress_Level_4      100000 non-null  float64
 11  Stress_Level_5      100000 non-null  float64
 12  Stress_Level_6      100000 non-null  float64
 13  Stress_Level_7      100000 non-null  float64
 14  Stress_Level_8      100000 non-null  float64
 15  Stress_Level_9      100000 non-null  float64
 16  Stress_Level_10     100000 non-null  float64
dtypes: float64(12), int64(3), object(2)
memory usage: 13.0+ MB

In [64]:
data.columns

Index(['Age', 'Gender', 'Department', 'CGPA', 'Sleep_Duration', 'Study_Hours',
       'Social_Media_Hours', 'Physical_Activity', 'Stress_Level_2',
       'Stress_Level_3', 'Stress_Level_4', 'Stress_Level_5', 'Stress_Level_6',
       'Stress_Level_7', 'Stress_Level_8', 'Stress_Level_9',
       'Stress_Level_10'],
      dtype='object')